-content_for :head do
  %title Jayphen: User interface developer &amp; designer

%header
  %h1 Jayphen
  %nav
    %ul
      %li
        %a(href="#") who i am
      %li
        %a(href="#") speak to me
      
#content-and-love
  %section
  .feature
    %article
      %h1 hello.
      %p Curabitur dignissim tempor dictum. Ut pellentesque adipiscing augue, vel fermentum lorem pellentesque nec. Mauris ultrices ornare nunc, nec facilisis erat lacinia sit amet. Pellentesque iaculis ligula sit amet odio mattis at hendrerit risus euismod. Suspendisse lectus tortor, facilisis sed placerat sit amet, eleifend in orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis mollis feugiat risus, sed feugiat massa auctor id. Ut vel elit tortor. Ut nec risus vel eros condimentum ultricies. Suspendisse interdum enim vehicula libero malesuada lobortis. Nullam semper aliquam enim, at tempor nunc pellentesque ac. Pellentesque vitae lectus purus. Aenean eu dictum leo.
    %article.past
      %hgroup
        %h1 Things blah blah
        %h2 september the fifth
    %article.past
      %hgroup
        %h1 Stuff and nonsense
        %h2 august the twentieth
    %article.past
      %hgroup
        %h1 Ridiculous ramblings    
        %h2 august the third