-content_for :head do
  %title Jayphen: User interface developer &amp; designer

%header
  %h1 Jayphen
  %ul
    %li
      %a(href="#") who i am
    %li
      %a(href="#") speak to me
      
#content-and-love
  %section
    %p This is some kind of tweet that runs over two lines cos it's really long
    %p things things things
  %section.feature
    hello.<br/>some kind of other thing