!!! 5
%html
  %head
    %meta(charset = "utf-8")

    =stylesheet_link_tag "site.css"
    =yield_content :head
  
  %body(class = "#{page_classes}")

    #wrapper(role = "main")
      =yield
    
    %script(src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js")
    %script(src="jquery.tweetable.min.js")
    :javascript
      $('#content-and-love section:first').html('<div>&nbsp;</div>').tweetable({'limit': 3});